<% provide(:title, "Bienvenido") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Bienvenido", labels: []} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <br><br>
    <center><h1>Bienvenido</h1>
      <!--<i class="fa fa-home big-icon"></i>-->
      <%= image_tag("BBGLogo.png", style:"width:160px;opacity: 0.1;") %>
    </center>

  </div>
</div>
<!--End content whit animation-->
