<p><%= @answer %></p>

<br><hr>
<p><strong>Datos del commentario</strong></p>
<p><strong>Nombre:</strong> <%= @comment.name %></p>
<p><strong>Correo electrónico:</strong> <%= @comment.email %></p>
<p><strong>Mensaje:</strong> <%= @comment.message %></p>
