<p>Hola, <%= @user.name %>!</p>

<p>Acontinuación te dejamos un vínculo para cambiar la contraseña de tu cuenta.</p>

<%= link_to 'Actualizar Contraseña',
  update_password_url(@user.recover_pass_digest, host: 'blackbrocket.com'),
  class: 'button' %>

<p>Gracias por tu preferencia, </br>
  El equipo de BlackBrocket.</p>
