<p><%= @answer %></p>

<br><hr>
<p><b>Datos del commentario</b></p>
<p><b>Nombre:</b> <%= @comment.name %></p>
<p><b>Correo electrónico:</b> <%= @comment.email %></p>
<p><b>Mensaje:</b> <%= @comment.message %></p>
