<% provide(:title, "Registro") %>
<% provide(:keywords, "registro, registrarme, black brocket, blackbrocket") %>
<% provide(:meta_description, "Regístrate en Black Brocket") %>

<div class="container card" style="margin-top: 80px;">
  <div class="row card-header">
     <div class="col-md-12 text-center">
        <h1 class="module-title long-up-2x">¡Gracias por tu compra!</h1>
     </div>
   </div>

  <div class="row card-body text-center">
    <p>Estamos en proceso de revisión de tu pago, <br>
      te enviaremos un correo electrónico en cuanto verifiquemos <br>
      la validez de tu transacción.</p>
  </div>
</div>

<style>
  body{ 
    background-color: #FAE393;
  }
  .card{
    padding: 0 5em 0 5em;
  }
  .card-header{ 
    background-color: #FFEDAB;
    margin-top: 3em;
  }
  .card-body{ 
    background-color: #FEFEFE;
    font-size: 18px;
    margin-bottom: 5em;
    padding-top: 1em;
  }
  .long-up-2x {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  @media screen and (max-width: 590px) {
    .card{ padding: 0 2em 0 2em; }
    .card-body{ font-size: 14px; }
    .long-up-2x {
      margin-top: 30px !important;
      margin-bottom: 30px !important;
    }
    .module-title { font-size: 30px; }
  }
</style>
