<%= stylesheet_link_tag 'application', media: 'all' %>

<% provide(:title, "¡Sentimos mucho que te vayas!") %>
<div class="container" style="margin-top: 50px;">
  <div class="show-tips-container">
    <div class="row">
      <div class="client-header">
        <h1 class="module-title long-up-2x">¡Sentimos mucho que te vayas!</h1>
      </div>
    </div>

    <div class="row">
      <p>
        A sido un placer trabajar contigo este tiempo, sinceramente  esperamos
        tener oportunidad de trabajar juntos en un futuro. Con toda confianza
        puedes contactarnos para cualquier pregunta, te deseamos gran éxito en tus
        propias aventuras! Por favor haznos saber si en algún momento podemos servirte.
      </p>
      <p>
        El equipo de Black Brocket te da los mejores deseos.
      </p>
      <p>
        El folio de tu baja es: <strong><%= @client.delete_account_hash %></strong>
        inclúyelo en cualquier correspondencia que nos envíes por favor.
      </p>

      <div class="text-center" style="margin-top: 2em;">
        <h2 class="module-subtitle">Regresar a la página principal <%= link_to "aquí", root_path %><h2>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="devider m-b-xxl">
            <%= image_tag("divider-down.svg") %>
          </div>
        </div>
    </div>
  </div>
</div>
