<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="aviso de privadidad, black brocket, blackbrocket">

  <meta name="description" content="Aviso de privacidad de Black Brocket">
  <title>Aviso de privacidad | Black Brocket</title>
</head>
<body>
  <div style="margin: 2em;">
    <%= render @privacy_policy.description_render_path %>
  </div>
</body>
</html>
