<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Order Adress Details</title>
</head>
<body>
  <%= render '/shared/orders/shipment_details' %>

  <style>
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
      border-top: 1px solid #e7eaec;
      font-size: 12px;
      line-height: 1.42857;
      padding: 4px;
      vertical-align: top;
    }
  </style>
</body>
</html>
