<section class="row inline-block step step-4 hidden text-center">
  <h4>Requiero Factura</h4>
  <div>
    <%= radio_button_tag "invoice", 1, false, autocomplete: :off, style: 'display: none;',
      required: true, onchange: "removeFilter('.invoice_1', 'invoice'); hideCombo(false)", info: "Sí" %>
    <label for="invoice_1">
      <%= image_tag "yes.svg", class: "invoice_1 invoice" %>
    </label>
  </div>

  <div>
    <%= radio_button_tag "invoice", 0, false, autocomplete: :off, style: 'display: none;',
      required: true, onchange: "removeFilter('.invoice_0', 'invoice'); hideCombo(true)", info: "No" %>
    <label for="invoice_0">
      <%= image_tag "no.svg", class: "invoice_0 invoice" %>
    </label>
  </div>

  <div class="col-sm-12 hide-when-no hidden" style="margin-top: 2em;">
    <label for="cfdi">Selecciona CFDI</label>
    <select name="cfdi" id="cfdi" class="form-control">
      <optgroup label="Selecciona CFDI"></optgroup>
      <option selected value="G01">Adquisición de mercancías</option>
      <option value="G02">Devoluciones, descuentos o bonificaciones</option>
      <option value="G03">Gastos en general</option>
      <option value="P01">Por definir</option>
    </select>
  </div>

  <div class="col-sm-12 hide-when-no hidden" style="margin-top: 2em;">
    <label for="invoice-payment-method">Selecciona medio de pago (para facturación)</label>
    <select name="invoice-payment-method" id="invoice-payment-method" class="form-control">
      <optgroup label="Selecciona medio de pago (para facturación)"></optgroup>
      <option selected value="01">Efectivo</option>
      <option value="02">Cheque nominativo</option>
      <option value="03">Transferencia electrónica de fondos</option>
      <option value="04">Tarjeta de crédito</option>
      <option value="28">Trajeta de débito</option>
      <option value="99">Por definir</option>
    </select>
  </div>
</section>

<script type="text/javascript">
  function hideCombo(hide) {
    let containers = $(".hide-when-no")
    let cfdi = $("#cfdi");
    let invoicePaymentMethod = $("#invoice-payment-method");
    
    if(hide){
      containers.addClass("hidden");
      cfdi.removeAttr("required");
      invoicePaymentMethod.removeAttr("required");
    }else{
      containers.removeClass("hidden");
      cfdi.attr("required", true);
      invoicePaymentMethod.attr("required", true);
    }

  }
</script>
