<div class="col-md-12 text-center">
  <span class="icon-basket" style="font-size: 140px;"></span>
  <h2 class="module-subtitle" style="margin-top:2em;">Tu carrito esta vacío, ve productos <%= link_to "aquí", products_path %><h2>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="devider m-b-xxl">
        <%= image_tag("divider-down.svg") %>
      </div>
    </div>
</div>
