<section class="row banks inline-block step step-3 hidden text-center">
  <h4>Seleccione el método de pago</h4>
  <% @banks.each do |bank| %>
    <div>
      <%= radio_button_tag "payment_method", bank.id, false, autocomplete: :off, required: true, 
        onchange: "removeFilter('.payment_img_#{bank.id}', 'payment_type')", 
        info: bank.name, style: 'display: none;' %>
      <label for="payment_method_<%= bank.id %>">
        <%= image_tag bank.image.url(:mini), class: "payment_img_#{bank.id} payment_type" %>
      </label>
    </div>
  <% end %>
</section>
