<section class="row step step-5 hidden text-center">
  <h4 class="text-center">Revisión</h4>
  <p>
    <strong>Método de envío: </strong>
    <span id="review-shipment-method"></span>  
  </p>
  <p>
    <strong>Método de pago: </strong>
    <span id="review-payment-method"></span>  
  </p>
  <p>
    <strong>Requiere factura: </strong>
    <span id="review-invoice-requirement"></span>  
  </p>
</section>
