<section class="row step step-5 hidden text-center">
  <h4 class="text-center">Revisión</h4>
  <p>
    <b>Método de envío: </b>
    <span id="review-shipment-method"></span>  
  </p>
  <p>
    <b>Método de pago: </b>
    <span id="review-payment-method"></span>  
  </p>
  <p>
    <b>Requiere factura: </b>
    <span id="review-invoice-requirement"></span>  
  </p>
</section>
