<% provide(:title, "Mi carrito") %>
<div class="client-header">
  <h1 class="module-title long-up-2x">Mi carrito</h1>
  <h2 class="module-subtitle">Aquí puedes ver los productos que has seleccionado.</h2>
</div>

<% if session[:e_cart] %>
  <%= render partial: "products" %>
<% else %>
  <%= render partial: "no_products" %>
<% end %>
