<% provide(:title, "Carrito de compras") %>
<% provide(:meta_description, "Mira el contenido del carrito de compras") %>

<div class="client-header">
  <h1 class="module-title long-up-2x">Carrito de compras</h1>
  <h2 class="module-subtitle">Aquí puedes ver los productos que has seleccionado.</h2>
</div>

<% if session[:e_cart] %>
  <%= render partial: "products" %>
<% else %>
  <%= render partial: "no_products" %>
<% end %>

<script type="text/javascript">
window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted || 
    ( typeof window.performance != "undefined" && 
        window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});
</script>
