  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2"><h4>Datos del Envío:</h4></th>
      </tr>
    </thead>
    <tr>
      <td><strong>Revisado:</strong></td>
      <td>
        <% if s.reviewed %>
          <span class="badge badge-primary">
            <i class="fa fa-check"></i>&nbsp; Revisado
          </span>
        <% else %>
          <span class="badge badge-danger">
            <i class="fa fa-times"></i>&nbsp; Sin revisar
          </span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Fecha del envío:</strong></td>
      <td><%= l(s.created_at, format: :long) %></td>
    </tr>
    <tr>
      <td><strong>Jefe de almacén que autorizó el envío:</strong></td>
      <td><%= link_to s.Chief.name, admin_site_worker_path(s.Chief.hash_id) %></td>
    </tr>
    <% if !s.origin_warehouse_id.nil? %>
      <tr><td><strong>almacén que traspasó: </strong></td>
        <td><%= s.OriginWarehouse.name %></td></tr>
    <% end %>
    <tr>
      <td><strong>Estatus:</strong></td>
      <td>
        <% if s.got_safe_to_destination %>
          <l class="text-info">Llegó completo</l>
        <% elsif s.got_safe_to_destination == false %>
          <l class="text-danger">No llegó completo</l>
        <% else %>
          <l class="text-warning">Está en camino</l>
        <% end %>
      </td>
    </tr>
    <% if s.got_safe_to_destination or s.got_safe_to_destination == false %>
      <tr>
        <td><strong>Trabajador que recibió el envío:</strong></td>
        <td><%= link_to s.Worker.name, admin_site_worker_path(s.Worker.hash_id) %></td>
      </tr>
    <% end %>
  </table>
