<div class="row text-center">
  <h1><%= "#{@product.name} | #{params[:product_qr][:batch]}" %></h1>

  <div style="display: inline-block">
    <%= raw @qr.as_html %>
  </div>
  <div style="display: inline-block">
    <p style="text-align: left;">
      CAD: <%= params[:product_qr][:expiration_date] %>
    </p>
    <p style="text-align: left;">
      CANT. EN CAJA: ________
    </p>
    <p style="text-align: left;">
      CESTA NÚMERO: ________
    </p>
  </div>
  <p>
    CANT. TOTAL DE LOTE: <%= params[:product_qr][:quantity] %>
  </p>
</div>

<style>
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 3px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 3px;
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }
  .text-center{ text-align: center; }
</style>
