<% checked = site_worker.has_permission?("#{permission[:category]}@#{permission[:name]}") %>

<div class="row m-b-xs" style="border-bottom: solid 1px #DCDBDB;padding-bottom: 5px;">
  <div class="col-md-8">
    <%= f.label "#{permission[:category]}-#{permission[:name]}", permission[:description] %>
  </div>
  <div class="col-md-4">
    <%= f.check_box "#{permission[:category]}-#{permission[:name]}", :class => "js-switch", checked: checked %>
  </div>
</div>
