<% provide(:title, "Comisiones") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Comisiones", labels: ['Comisiones']} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <%= render partial: '/shared/admin/header_with_search',
      locals: {title: 'Lista de Comisiones', search_url: admin_commissions_path,
      new_permission: nil, new_url: nil } %>

    <div class="ibox">
    	<div class="ibox-content">

          <table class="footable table table-stripped  toggle-arrow-tiny" data-filter=#filter>
              <thead>
                <tr>
                    <th data-hide="phone">Clave</th>
                    <th>Total a pagar</th>
                    <th data-hide="phone">Distribuidor</th>
                    <th data-hide="phone,tablet">Status</th>
                    <th>Comprobante de pago</th>
                    <th>Fecha de pago</th>
                    <th>Factura</th>
                    <th data-hide="phone">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <%= render @commissions %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="8">
                    <div class="pull-right">
                      <%= will_paginate @commissions, renderer: BootstrapPagination::Rails %>
                    </div>
                  </td>
                </tr>
              </tfoot>
          </table>

    	</div>
    </div>

 </div>
</div>
