<% provide(:title, "Configurar cajas de paquetería") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Configurar cajas de paquetería", 
  labels: ["Configuración", "Cajas de paquetería"], links: [admin_configuration_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
	  <%= render "boxes_form" %>
  </div>
</div>
<br>
<!--End content whit animation-->

<style>
  .pointer{
    cursor: pointer;
  }
</style>

<script type="text/javascript">
function removeParent(trigger) {
  $(trigger).parent().remove();
}

function addBoxFields() {
  let to_append = "<%= j render "box_fields" %>";
  $("section.boxes_fields").append(to_append);
}
</script>
