<div id="select_city">
  <div class="form-group">
    <label class="col-sm-3 control-label">Población</label>
    <div class="col-sm-9">
      <%= select_tag :city_id, options_from_collection_for_select(
          cities, "id", "name", selected: params[:city_id]),
          prompt: "Selecciona...", class: "input form-control", 
          onchange: "updateLada()", required: true %>
    </div>
  </div>
</div>

<script type="text/javascript">
function updateLada(trigger){
  lada = $("#city_id").children("option:selected")[0].getAttribute("lada");
  $("#client_lada_preview").text(lada);
}
</script>
