<div id="select_city">
  <div class="form-group">
    <label class="col-sm-2 control-label">Población</label>
    <%= link_to 'get_city_lada_link', get_city_lada_path + "?city=null",
        :remote => true, id: "get_city_lada_link", style: "display:none;" %>
      <div class="col-sm-10">
      <%= select_tag :city_id, options_from_collection_for_select(
          cities, "id", "name", :selected => @city_id),
          prompt: "Selecciona...", :class => "input form-control", :required => true,
          onchange: "update_city_ref(this.value); $('#get_city_lada_link').click();" %>
    </div>
  </div>

  <script type="text/javascript">
    function update_city_ref(city) {
    	var _href = $('#get_city_lada_link').attr('href');
    	$('#get_city_lada_link').attr('href', _href.replace(/city=[^&]+/, 'city=' + city));
    }
  </script>

</div>
