<tr>
  <%= content_tag(:td, parcel_price.max_weight / 1000) %>
  <%= content_tag(:td, parcel_price.price) %>
  <td>
    <% if @current_user.has_permission?('parcels@update') %>
      <%= link_to "<i class='fa fa-pencil'></i> Modificar".html_safe,
        admin_edit_parcel_price_path(params[:warehouse_id], params[:id]),
        class: 'btn btn-white btn-sm m-b-xs' %>
    <% end %>

    <% if @current_user.has_permission?('parcels@update') %>
      <%= link_to "<i class='fa fa-trash'></i> Eliminar".html_safe,
        admin_warehouse_parcel_parcel_price_path(params[:warehouse_id], params[:id], parcel_price.id),
        class: 'btn btn-danger btn-sm m-b-xs', method: :delete,
        data: { confirm:"Estas seguro(a) de eliminarlo?" } %>
    <% end %>
  </td>
</tr>
