<% provide(:title, "Precios de Paquetería") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Paqueterías", labels: ['Almacenes', 'Paqueterías'], links: [admin_warehouses_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="ibox">
      <div class="ibox-content" style="display: block;">
        <div class="row">
          <div class="col-sm-9 b-r margin-bot-resp">
            <%= content_tag(:h3, "Precios de paquetería: #{@parcel.parcel_name}", class: 'm-t-none m-b') %>
          </div>
          <div class="hr-line-dashed pro-mobile"></div>
          <% if @current_user.has_permission?('parcels#update') %>
            <div class="col-sm-3 text-center">
              <h4>Registrar Nuevo</h4>
              <%= link_to "<i class='fa fa-plus med-icon'></i>".html_safe, admin_new_parcel_price_path(params[:warehouse_id], @parcel) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-content">

            <table class="footable table table-stripped  toggle-arrow-tiny" data-filter=#filter>
              <thead>
                <tr>
                <th>Peso máximo en Kilogramos</th>
                <th>Precio</th>
                <th data-sort-ignore="true">Acción</th>
                </tr>
              </thead>
              <tbody>
                <%= render @prices %>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
  <!--End content whit animation-->
  <script>
  $(document).ready(function() {
    $('.footable').footable();
  });
</script>
