<% provide(:title, "Cuentas de banco") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Bancos", labels: ["Bancos"]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <%= render partial: "/shared/admin/header_with_search",
      locals: {title: "Lista de Bancos", search_url: admin_banks_path,
      new_permission: "banks@create", new_url: new_admin_bank_path } %>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-content">

            <table class="footable table table-stripped  toggle-arrow-tiny" data-filter=#filter>
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th><i class="fa fa-search"></i> Nombre del banco</th>
                  <th>A nombre de</th>
                  <th>Email</th>
                  <th>RFC</th>
                  <th data-sort-ignore="true">Acción</th>
                </tr>
              </thead>
              <tbody>
                <%= render @banks %>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
  <!--End content whit animation-->
  <br><br>
