<% provide(:title, "Distribuidores") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Modificar distribuidor", 
  labels: ["Distribuidores", "Modificar distribuidor"], links: [admin_distributors_path]} %>

<!--Content whit animation-->    
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
	<%= render "form" %>
  </div>
</div>
<br>
<!--End content whit animation-->
