<p>
  Si necesita agregar más destinos a los cuales enviar sus paquetes, ya sea que
  tenga varias sucursales donde requiera que los entreguemos, le recomendamos
  que cree una nueva cuenta por sucursal.
</p>

<h4>¿Por qué crear nuevas cuentas?</h4>
<p>
  Al crear una nueva cuenta, por ejemplo para otra sucursal ubicada en Guadalajara,
  se le asignará un nuevo distribuidor para dicha cuenta, con el cuál podrá negociar
  por precios preferenciales. Es decir tendrá dos oportunidades de conseguir buenos
  precios en sus negociaciones (con la cuenta principal y con la cuenta de la sucursal de Guadalajara).
</p>

<h4>¿Qué necesito para crear una nueva cuenta?</h4>
<p>
  Básicamente solo una cosa, un nuevo correo electrónico.
</p>
<p>
  Nosotros en blackbrocket les recomendamos que, por ejemplo, si el correo electrónico de
  la cuenta principal es "support@coffee.com" la cuenta para la hipotética sucursal
  de Guadalajara podría ser "support_guadalajara@coffee.com" que es fácil de recordar
  pues el correo hace una referencia explícita de la sucursal.
</p>
