<% provide(:title, "Editar tu cuenta") %>
<% provide(:meta_description, "Edita la información de tu cuenta") %>

<div class="client-header">
  <h1 class="module-title long-up-2x">Editar perfil</h1>
  <h2 class="module-subtitle">Aquí puedes cambiar la información de tu usuario.</h2>
</div>

<div class="show-tips-container">
  <div class="row">
    <%= render "form" %>
  </div>
</div>
<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
      <div class="devider m-b-xxl">
        <%= image_tag("divider-down.svg") %>
      </div>
		</div>
</div>
