<% provide(:title, "Cuentas de banco") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Cuentas de banco", labels: ['Cuentas de banco', 'Editar cuenta'], links: [admin_bank_accounts_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
	  <%= render 'form' %>
  </div>
</div>
<br>
<!--End content whit animation-->
