<% provide(:title, "Paqueterías") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Almacenes", labels: ['Almacenes', 'Paqueterías'], links: [admin_warehouses_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <%= render partial: '/shared/admin/header_with_search',
      locals: {title: 'Lista de Paqueterías', search_url: admin_warehouse_parcels_path(params[:warehouse_id]),
      new_permission: 'parcels@create', new_url: admin_warehouse_new_parcel_path(params[:warehouse_id]) } %>

      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div class="ibox-content">

              <table class="footable table table-stripped  toggle-arrow-tiny" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Fecha de creación</th>
                    <th>Última modificación</th>
                    <th data-sort-ignore="true">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @parcels %>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!--End content whit animation-->
  <script>
  $(document).ready(function() {
    $('.footable').footable();
  });
</script>
