<!--Header band-->
<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-sm-6">
       <h2><%= title %></h2>
       <ol class="breadcrumb">
       	  <li><%= link_to "Inicio", admin_welcome_path %></li>

       	  <% labels.each.with_index do |label, index| %>
       	  	<% if index == labels.size - 1 %>
       	  		<li><b><%= link_to label, nil %></b></li>
       	  	<% else %>
       	  	  <li><%= link_to label, links[index] %></li>
       	  	<% end %>
       	  <% end %>

       </ol>
    </div>
</div>
<!--End Header band-->
