<tr>
  <td>
    <b>Cantidad:</b>
    <input type="number" placeholder="0" min="1" max="10000000000" step="1" class="form-control"
      onchange="update_quantity(this.value);" id="input_quantity" 
      onkeypress="return isNumberKey(event)" value="1"/>
  </td>

  <td>
    <%= link_to "Añadir al carrito", 
      client_add_to_cart_path(@warehouse_product.hash_id)+"?quantity=1",
      method: :put, remote: true, class: "btn btn-custom-3 btn-block add-to-cart", 
      style: "font-size: 11.3px;" %>

    <%= link_to "Comprar ahora", 
      client_add_to_cart_path(@warehouse_product.hash_id)+"?to_cart=true&quantity=1",
      method: :put, remote: true, class: "btn btn-custom-3 btn-block add-to-cart-n-go", 
      style: "font-size: 11.3px;" %>
  </td>
</tr>

<script type="text/javascript">
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode < 48 || charCode > 57)
      return false;
    return true;
  }
</script>
