<% @products.each do |p| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
          <% @photos.each do |photo| %>
            <% if photo.product_id == p.id %>
              <%= link_to image_tag(photo.photo.url(:thumb)), product_path(p.hash_id) %>
              <% break %>
            <% end %>
          <% end %>
          <div class="caption" style="height:100px;">
              <h4 class="pull-right">$<%=p.price%></h4>
              <%= link_to(product_path(p.hash_id), :class => "darklink") do %>
                <i class="icon-info"></i>
              <% end %>
              <h4 class="nowrap-10em slide-image menu-title text-left"><%=link_to p.name, product_path(p.hash_id), :class => "darklink"%></h4>
              <div class="menu-detail cortar text-left">
                <% if p.cold %>
                  Frío /
                <% end %>
                <% if p.hot %>
                  Caliente /
                <% end %>
                <% if p.frappe %>
                  Frappé /
                <% end %>
                <% if p.cold == false && p.hot == false && p.frappe == false%>
                Sin especificar
                <% end %>
              </div>
          </div>
      </div>
  </div>
<% end %>
