<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .button {
        background-color: #E6CA9A;
        border: none;
        border-radius: 10px;
        color: #333;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      a.button {
        color: #333;
      }

      .logo{
        width: 85px;
      }
    </style>
  </head>

  <body>
    <% image_tag 'black-brocket-gold-logo', class: 'logo' %><br>
    <%= yield %>
  </body>
</html>
