<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .email-header{
        background-color: #E6CA9A;
        border-radius: 3px;
      }

      .email-header, .email-body{
        margin-left: 10em;
        margin-right: 10em;
      }

      .logo{
        width: 65px;
        padding: 10px;
      }

      span.title{
        color: #353535;
        font-size: 16px;
        float: right !important;
        padding-right: 0.5em;
        padding-top: 2em;
      }

      .email-body{ 
        color: #353535;
        font-size: 14px;
        padding: 0.5em;
      }

      .button {
        background-color: #E6CA9A;
        border: none;
        border-radius: 10px;
        color: #333 !important;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
  
      @media(min-width: 1201px) {
        .email-header span{
          font-size: 25px;
          padding-right: 1em;
          padding-top: 1em;
        }
      }
      @media(max-width: 1200px) {
        .email-header, .email-body{
          margin-left: 5em !important;
          margin-right: 5em !important;
        }
      }
      @media(max-width: 800px) {
        .email-header, .email-body{
          margin-left: 2em !important;
          margin-right: 2em !important;
        }
      }
      @media(max-width: 720px) {
        .email-header, .email-body{
          margin-left: 2em !important;
          margin-right: 2em !important;
        }
      }
      @media(max-width: 590px) {
        .email-header, .email-body{
          margin-left: 0.1em !important;
          margin-right: 0.1em !important;
        }
      }
    </style>
  </head>

  <body>
    <div class="email-header">
      <%= mailer_image_tag "black-brocket-black-logo.png", class: "logo" %>
      <%= content_tag :span, @user.name, class: "title" if @user.present? %>
    </div>

    <div class="email-body">
      <%= yield %>
    </div>
  </body>
</html>
